.block{
    overflow: auto;
    margin: 2rem;
}

.label{
    width: 60%;
    float: left;
}

.buttons{
    width: 40%;
    float: right;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn{
    border: none;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
}

.btnDelete{
    background-color: salmon;
}
.btnDelete:hover {
    background-color: red;
}

.btnCreate{
    background-color: lightgreen;
}
.btnCreate:hover {
    background-color: green;
}