.card {
    padding: 5px;
    width: 30%;
    border: solid thick;
}

.container {
    overflow: hidden
}

.title {
    float: left;
}

.checkbox {
    float: right;
    width: 30px;
    height: 30px;
}